@{
    ViewBag.Title = "EditStation";
    Layout = null;
}
<style type="text/css">
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="page page-create-zone">
    <div data-ng-controller="ParkingCtrl">
        <form name="formStation">
            <div class="row ui-section">
                <div class="col-md-12">
                    <article class="article">
                        <md-card class="no-margin-h">
                            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                                <div class="md-toolbar-tools">
                                    <span>Edit Location</span>
                                    <div flex></div>
                                    <a href="#!/parking/stations" class="md-button md-raised btn-w-md" style="display: flex;">
                                        <i class="material-icons">arrow_back</i> Back To Locations
                                    </a>
                                </div>
                            </md-toolbar>
                            <div>
                                <div class="col-md-4 col-lg-3">
                                    <md-input-container class="md-block">
                                        <label>Location Name</label>
                                        <input ng-model="LocationsModel['LocationName']" name="LocationName" required>
                                    </md-input-container>
                                </div>

                                <div class="col-md-4 col-lg-3">
                                    <md-input-container class="md-block">
                                        <label>Location Code</label>
                                        <input ng-model="LocationsModel['LocationCode']" name="LocationCode" required disabled>
                                    </md-input-container>
                                </div>

                                <div class="col-md-4 col-lg-3">
                                    <md-input-container class="md-block">
                                        <label>Latitude</label>
                                        <input type="number" ng-model="LocationsModel['Lattitude']" name="Lattitude" required allow-decimal-numbers
                                               ng-min="0.1" ng-max="99.9999" step="any" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/">
                                        <div ng-messages="formStation.Lattitude.$error" role="alert" multiple>
                                            <div ng-message="max" class="my-message">
                                                Lattitude have only two digits before the decimal.
                                            </div>
                                            <div ng-message="min" class="my-message">
                                                Lattitude must be greater than zero.
                                            </div>
                                            <div ng-message="pattern" class="my-message">
                                                That doesn't look like a valid Lattitude.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div class="col-md-4 col-lg-3">
                                    <md-input-container class="md-block">
                                        <label>Longitude</label>
                                        <input type="number" ng-model="LocationsModel['Longitude']" name="Longitude" required allow-decimal-numbers
                                               ng-min="0.1" ng-max="99.9999" step="any">
                                        <div ng-messages="formStation.Longitude.$error" role="alert" multiple>
                                            <div ng-message="max" class="my-message">
                                                Longitude have only two digits before the decimal.
                                            </div>
                                            <div ng-message="min" class="my-message">
                                                Longitude must be greater than zero.
                                            </div>
                                            <div ng-message="pattern" class="my-message">
                                                That doesn't look like a valid Longitude.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>



                                <div class="col-md-8 col-lg-6">
                                    <md-input-container class="md-block">
                                        <label>Address</label>
                                        <input ng-model="LocationsModel['Address']" name="Address" required>
                                    </md-input-container>
                                </div>

                                <div class="col-md-4 col-lg-3">
                                    <md-checkbox aria-label="Checkbox 1" style="margin-top: 20px;" ng-model="LocationsModel['IsActive']"> Active </md-checkbox>
                                </div>

                                <div class="col-md-6 col-lg-6" style="margin-top:1px;">
                                    {{LocationsModel.PassAccess}}
                                    <md-input-container class="md-block">
                                        <label>Pass Access</label>
                                        <md-select ng-model="LocationsModel['PassAccess']" multiple required>
                                            <md-option ng-value="pass.PassPriceID" ng-repeat="pass in ActivePassListModel">
                                                {{pass.PassName}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="col-md-6 col-lg-6" style="margin-top:25px;" layout="row">
                                    <label style="color:rgba(0,0,0,0.38);">Tag Type :  </label>
                                    <md-radio-group ng-model="LocationsModel['TagType']" layout="row" required disabled>
                                        <md-radio-button ng-repeat="tag in ActiveTagTypeListModel" ng-value="tag.CardTypeID">
                                            {{ tag.CardTypeCode }}
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12 col-lg-12" style="margin-top:20px;">
                                    <label style="color:rgba(0,0,0,0.38);">Vehicle Types :</label>
                                    <md-checkbox ng-repeat="vehType in ActiveVehicleTypeListModel"
                                                 ng-model="vehType['selected']"
                                                 value="vehType.VehicleTypeID"
                                                 aria-label="Checkbox"
                                                 ng-change="GetPassesByVehicleTypeEdit(ActiveVehicleTypeListModel)">
                                        {{vehType.VehicleTypeCode}}
                                    </md-checkbox>
                                </div>

                                <div class="col-md-12 text-center" style="margin: 20px 0px;">
                                    <md-button type="submit" class="md-button md-raised btn-w-md md-default custom-btn"
                                               name="myButton" [disabled]="formStation.$valid"
                                               data-ng-click="formStation.$valid && UpdateStation()">Update Location</md-button>
                                </div>
                            </div>
                        </md-card>
                    </article>
                </div>
            </div>
        </form>
    </div>
</div>
@Html.Hidden("ViewLocation", Url.Action("ViewLocation", "Parking"))
@Html.Hidden("UpdateLocation", Url.Action("SaveLocation", "Parking"))
@Html.Hidden("VerifyLocationCode", Url.Action("VerifyLocationCode", "Parking"))
@Html.Hidden("GetVehicleTypesByLocationID", Url.Action("GetVehicleTypesByLocationID", "Parking"))
@Html.Hidden("GetListofActiveTagTypes", Url.Action("GetListofActiveTagTypes", "Parking"))
@Html.Hidden("GetListofActivePasses", Url.Action("GetListofActivePasses", "Parking"))
@Html.Hidden("GetPassesByLocationID", Url.Action("GetPassesByLocationID", "Parking"))
@Html.Hidden("GetListofActivePassesByVehicleID", Url.Action("GetListofActivePassesByVehicleID", "Parking"))